#container {
    text-align: center;
    top: 30%;
    bottom: 50%;
    left: 15%;
    right: 15%;
    position: absolute;
}

#verse {
    font-size: 40px;
    margin: auto;
}

#reference {
    font-size: 30px;
    margin: auto;
}